<div class="text-left text-white ms-3 pe-3 mb-5">
	<p>Select the routine to start</p>
	<hr class="hr-style" />
	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-3">
			<div class="text-secondary mb-4">
				<img
					src="../../assets/img/Routines/customRoutine.png"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body bg-blue-dark text-white">
					<a routerLink="/home/routinesCustom" class="btn-sm btn-orange"
						>START</a
					>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-4 col-lg-3">
			<div class="text-secondary mb-4">
				<img
					src="../../assets/img/Routines/presentRoutine.png"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body bg-blue-dark text-white">
					<a class="btn btn-secondary disabled">DEVELOPING</a>
				</div>
			</div>
		</div>
	</div>
</div>
