<div class="container-fluid text-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="display-4 mt-4">DASHBOARD</h1>
			</div>
			<div class="col-sm-12">
				<ul class="nav  mt-4 mb-4 list-unstyledk bg-blue p-3 ">
					<li class="mx-1  text-white">
						<a
							routerLink="/home/trainer"
							class="btn-sm text-white btn-secondary"
							aria-current="page"
							>
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
								<path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
								<path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
							  </svg>
						</a>
					</li>
					<li class="mx-1   text-white">
						<a
							routerLink="/home-admin/exercises"
							routerLinkActive="btn-orange "
							class="btn-sm text-white"
							aria-current="page"
							>EXERCISES
						</a>
					</li>
					<li class="mx-1  ">
						<a
						routerLink="/home-admin/parks"
						routerLinkActive="btn-orange"
						class=" btn-sm text-white"
						aria-current="page"
						>PARKS
						</a>
						
					</li>
					<li class="mx-1  ">
						<a
						routerLink="/home-admin/users"
						routerLinkActive="btn-orange"
						class=" btn-sm text-white"
						aria-current="page"
						>USERS
						</a>
						
					</li>
					<li class="mx-1 float-end ">
						<a
						*ngIf="youHavePermision"
						(click)="logout()"
						class=" btn-sm text-white btn-blue-dark"
						aria-current="page"
						>LOGOUT
						</a>
						
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
