<div  *ngIf="!trainingRoomStatus" class="text-left text-white ms-3 pe-3 mb-5">
  <hr class="hr-style" />
  <div class="row">
    <div class="col-sm-12">
      <div class="text-secondary mb-4">
        <div class="card-body bg-blue-dark text-white">
          <div class="row">
            <form [formGroup]="exerciseFormGroup" (ngSubmit)="onSubmit()"  class="col-sm-12 col-md-5 col-lg-6"
            >
              <div class="col-sm-12 ">
                <div class="mb-3">
                  <label for="selecteExercise">EXERCISE</label>
                  <select
                    id="selecteExercise"
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="exerciseName"
                  >
                    <option
                      *ngFor="let exercise of exercisesList"
                      value="{{ exercise.name }}"
                    >
                      {{ exercise.name }}
                    </option>
                  </select>
                  <label for="customRange1" class="form-label mt-4 mb-2">
                    REPS {{ exerciseFormGroup.controls['reps'].value }}
                  </label>
                  <input
                    type="range"
                    class="form-range"
                    min="0"
                    max="20"
                    formControlName="reps"
                    id="reps"
                  />
        
                  <a
                    type="button"
                    (click)="addExercise()"
                    class="btn-sm btn-blue mt-2 mb-2"
                  >
                    ADD
                  </a>
                </div>
              </div>
              <button type="submit" [disabled]="myRoutine.length==0"  class="btn-sm btn-orange mt-2">
                START
              </button>
            </form>
            <div class="col-sm-12 col-md-6">
              <div class="text-left text-white mb-5">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="text-secondary mb-4">
                      <div class="card-body bg-blue-dark text-white">
                        <div *ngIf="myRoutine.length>0" class="row">
                          <div class="col-sm-12">
                            <div class="mb-2">
                              <h2>MY PLANS</h2>
                            </div>
                          </div>
                          <div
                            *ngFor="let routine of myRoutine"
                            class="col-sm-12 col-md-12 col-lg-6"
                          >
                            <div class="mb-2">
                              <h5>
                                <a class="badge bg-dark me-2">&#10006;</a>
                                {{ routine.exercise }}
                                <span class="badge bg-orange">
                                  {{ routine.reps }} reps
                                </span>
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a
type="button"
(click)="showRoutinesCustom()"
class="btn-sm btn-orange mt-2 mb-2"
*ngIf="trainingRoomStatus"
>
BACK
</a>
<router-outlet *ngIf="trainingRoomStatus"></router-outlet>
