<div class="text-white">
	<h2 class="mb-4 display-6">ADMINISTRATION PANEL</h2>

	<a class="btn-sm btn-orange mb-3 text-white" href="">ADD</a>
	<div class="table-responsive">
		<table class="table table-secondary table-hover table-borderless">
			<thead>
				<tr>
					<th scope="col">
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								value=""
								id="flexCheckChecked"
								checked
							/>
						</div>
					</th>
					<th scope="col">NAME</th>
					<th scope="col">DESCRIPTION</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let exercise of exercisesList">
					<td>
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								value=""
								id="flexCheckChecked"
								checked
							/>
						</div>
					</td>
					<td>{{exercise.name}}</td>
					<td>
						{{exercise.description}}
					</td>
					<td>
						<a class="btn-sm btn-blue mx-2 mb-2" href="">Edit</a>
					</td>
					<td>
						<a class="btn-sm btn-orange mb-2" href="">Delete</a>
					</td>
				</tr>
			
			</tbody>
			<tfoot>
				<tr>
					<th scope=" text-secondary"></th>
					<th scope=" text-secondary">NAME</th>
					<th scope=" text-secondary">DESCRIPTION</th>
					<th scope=" text-secondary"></th>
					<th scope=" text-secondary"></th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
