<div class="text-white">
	<h2 class="mb-4 display-6">EXERCISES</h2>

	<a
		class="btn-sm btn-orange mb-4 text-white"
		data-bs-toggle="modal"
		(click)="newExercise()"
		data-bs-target="#ExerciseModal"
		>ADD</a
	>
	<div class="table-responsive">
		<table class="table table-secondary table-hover table-borderless">
			<thead class="table-blue">
				<tr>
					<th scope="col">
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								value=""
								id="flexCheckChecked"
								checked
							/>
						</div>
					</th>
					<th scope="col">NAME</th>
					<th scope="col">DESCRIPTION</th>
					<th scope="col">IMG</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let exercise of exercisesList">
					<td>
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								value=""
								id="flexCheckChecked"
								checked
							/>
						</div>
					</td>
					<td>{{ exercise.name }}</td>
					<td>{{ exercise.description }}</td>
					<td>
						<img src="{{ exercise.urlImg }}" width="100px" alt="{{ exercise.name }}">
					</td>
					<td>
						<a
							class="btn-sm btn-blue mx-2 mb-2"
							(click)="editExercise(exercise, exercise._id)"
							data-bs-toggle="modal"
							data-bs-target="#ExerciseModal"
							>EDIT</a
						>
					</td>
					<td>
						<button
							class="btn-sm btn-orange mx-2 mb-2"
							(click)="deleteExercise(exercise,exercise._id)"
							data-bs-toggle="modal"
							data-bs-target="#deleteModal"
						>
							DELETE
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th scope=" text-secondary"></th>
					<th scope=" text-secondary">NAME</th>
					<th scope=" text-secondary">DESCRIPTION</th>
					<th scope=" text-secondary">IMG</th>
					<th scope=" text-secondary"></th>
					<th scope=" text-secondary"></th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<!-- ExerciseModal -->
<div
	class="modal fade bg-blue"
	id="ExerciseModal"
	data-bs-backdrop="static"
	tabindex="-1"
	aria-labelledby="exercisesModalLabel"
	aria-hidd en="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exercisesModalLabel" *ngIf="isNew !== true">
					Edit Exercise
				</h5>
				<h5 class="modal-title" id="exercisesModalLabel" *ngIf="isNew == true">
					Add Exercise
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
					(click)="showButton()"
				></button>
			</div>

			<div
				*ngIf="!hiddenMsg"
				class="alert alert-success"
				role="alert"
			>
				{{ exerciseResponse.msg }}
			</div>
			<div
				*ngIf="hiddenMsg"
				class="{{ classError }}"
				role="alert"
			>
				{{ exerciseResponse.msg }}
			</div>

			<form
				[formGroup]="exerciseFormGroup"
				(ngSubmit)="isNew == true ? onSubmitNew() : onSubmitEdit()"
			>
				<div class="modal-body">
					<div class="mb-3">
						<label for="txtName" class="form-label">Name</label>
						<input
							formControlName="name"
							type="text"
							class="form-control"
							id="txtName"
							aria-describedby="namelHelp"
							value="{{ selectedEexercise.name }}"
						/>
					</div>
					<div class="mb-3">
						<label for="txtDescription" class="form-label"
							>Description</label
						>
						<input
							formControlName="description"
							type="text"
							class="form-control"
							id="txtDescription"
							aria-describedby="DescriptionHelp"
							value="{{ selectedEexercise.description }}"
						/>
					</div>
					<div class="mb-3">
						<label for="txtUrlImg" class="form-label"
							>Url IMG</label
						>
						<input
							formControlName="urlImg"
							type="text"
							class="form-control"
							id="txtUrlImg"
							aria-describedby="urlImgHelp"
							value="{{ selectedEexercise.urlImg }}"
						/>
					</div>
				</div>
				<div class="modal-footer">
					<button (click)="showButton()" type="button" class="btn-sm btn-blue" data-bs-dismiss="modal">
						Close
					</button>
					<button
						type="submit"
						class="btn-sm btn-orange text-white"
						*ngIf="exerciseResponse.status == false"
					>
						Save changes
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div
	class="modal fade"
	id="deleteModal"
	data-bs-backdrop="static"
	tabindex="-1"
	aria-labelledby="deleteModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exercisesModalLabel">Delete Exercise</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>

			<div class="modal-body">
				<h5><strong>Exercise:</strong> </h5>
				<p>{{selectedEexercise.name}}</p>
				<h5><strong>Description:</strong></h5>
				<p>{{selectedEexercise.description}}</p>
			</div>
			<div
				*ngIf="exerciseResponse.status == true"
				class="alert alert-success"
				role="alert"
			>
				{{ exerciseResponse.msg }}
			</div>
			<div
				*ngIf="hiddenMsg"
				class="{{ classError }}"
				role="alert"
			>
				{{ exerciseResponse.msg }}
			</div>

			<div class="modal-footer">
				<button (click)="showButton()" type="button" class="btn-sm btn-blue" data-bs-dismiss="modal">
					Close
				</button>
				<button
					type="submit"
					class="btn-sm btn-orange text-white"
					(click) ="onSubmitDelete()"
					*ngIf="exerciseResponse.status == false"
				>
					DELETE
				</button>
			</div>
		</div>
	</div>
</div>
