<div class="container-fluid">

    <div class="row justify-content-center mt-5">
      <div class="col-sm-12 col-md-3 bg-blue-dark">
        <div class="text-center text-white container-title-one">
          <img class="img-fluid img-style" src="../../assets/img/training.webp" alt="" />
          <h3>STARTS IN 5 MINUTES</h3>
          <p>FREE, EASY, FAST</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-7 col-xl-6 bg-blue">
        <div class="text-left text-white ms-3">
          <h1 class="display-4 mt-2">
              <strong>TRAINING</strong>
          </h1>
          <h4 class="display-6" >THE MOST COMPLETE GUIDE OF CHILE</h4>
          <ul class="list-unstyled blockquote">
            <li>TRAINING</li>
            <li>ROUTINES</li>
            <li>TRAINING PARKS</li>
          </ul>
              <a routerLink="/home/my-routines" class=" btn-lg btn-orange">START</a>
        </div>
      </div>
    </div>
  </div>