<div class="text-white">
	<h2 class="mb-4 display-6">PARKS</h2>

	<a
		class="btn-sm btn-orange mb-4 text-white"
		(click)="newExercise()"
		data-bs-toggle="modal"
		data-bs-target="#parksModal"
		>ADD</a
	>
	<div class="table-responsive">
		<table class="table table-secondary table-hover table-borderless">
			<thead class="table-blue">
				<tr>
					<th scope="col">
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								value=""
								id="flexCheckChecked"
								checked
							/>
						</div>
					</th>
					<th scope="col">NAME</th>
					<th scope="col">CITY</th>
					<th scope="col">REGION</th>
					<th scope="col">MAP</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let park of parksList">
					<td>
						<div class="form-check">
							<input
								class="form-check-input"
								type="checkbox"
								value=""
								id="flexCheckChecked"
								checked
							/>
						</div>
					</td>

					<td>
						{{ park.name }}
					</td>
					<td>
						{{ park.city }}
					</td>
					<td>
						{{ park.region }}
					</td>
					<td>
						<a class="btn btn-warning" href="{{ park.urlDirection }}"
							>GO TO THE PARK</a
						>
					</td>
					<td>
						<a
							class="btn-sm btn-blue mx-2 mb-2"
							data-bs-toggle="modal"
							data-bs-target="#parksModal"
							(click)="editPark(park, park._id)"
							>EDIT</a
						>
					</td>
					<td>
						<button
						class="btn-sm btn-orange mx-2 mb-2"
						
						data-bs-toggle="modal"
						data-bs-target="#deleteModal"
					>
						DELETE
					</button>					</td>
				</tr>
			</tbody>
			<tfoot>
				<th scope="col"></th>
				<th scope="col">NAME</th>
				<th scope="col">CITY</th>
				<th scope="col">REGION</th>
				<th scope="col">MAP</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tfoot>
		</table>
	</div>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="parksModal"
	data-bs-backdrop="static"
	tabindex="-1"
	aria-labelledby="mapsModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 *ngIf="isNew" class="modal-title" id="mapsModalLabel">Add Park</h5>
				<h5 *ngIf="!isNew" class="modal-title" id="mapsModalLabel">Edit Park</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			
			<div
				*ngIf="!hiddenMsg"
				class="{{classError}}"
				role="alert"
			>
				{{ parkResponse.msg }}
			</div>
			<div
				*ngIf="hiddenMsg"
				class="{{ classError }}"
				role="alert"
			>
				{{ parkResponse.msg }}
			</div>
			
			<form
				[formGroup]="parkFormGroup"
				(ngSubmit)="isNew == true ? onSubmitNew() : onSubmitEdit()"
			>
				<div class="modal-body">
					<div class="mb-3">
						<label for="txtName" class="form-label">Name</label>
						<input
							formControlName="name"
							type="text"
							class="form-control"
							id="txtName"
							value="{{ selectedPark.name }}"
							aria-describedby="namelHelp"
							required
						/>
					</div>
					<div class="mb-3">
						<label for="txtCity" class="form-label">City</label>
						<input
							formControlName="city"
							type="text"
							class="form-control"
							id="txtCity"
							value="{{ selectedPark.city }}"
							aria-describedby="citylHelp"
							required
						/>
					</div>
					<div class="mb-3">
						<label for="txtRegion" class="form-label">Region</label>
						<input
							formControlName="region"
							type="text"
							class="form-control"
							id="txtRegion"
							value="{{ selectedPark.region }}"
							aria-describedby="regionlHelp"
							required
						/>
					</div>

					<div class="mb-3">
						<label for="txtUrlDirection" class="form-label"
							>URL of the address</label
						>
						<input
							formControlName="urlDirection"
							type="text"
							class="form-control"
							id="txtUrlDirection"
							value="{{ selectedPark.urlDirection }}"
							aria-describedby="urlDirectionlHelp"
							required
						/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn-sm btn-blue" (click)="showButton()" data-bs-dismiss="modal">
						Close
					</button>
					<button
						type="submit"
						class="btn-sm btn-orange text-white"
						*ngIf="parkResponse.status == false"
					>
						Save changes
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
