/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Raleway', sans-serif !important}

.bg-blue-dark{
    background-color:#222831
}
.bg-blue{
    background-color:#30475e
}
.bg-orange{
    background-color:#f05454
}
.text-blue{
    color:#30475e
}

.text-white{
    color:#dddddd  !important;
}
.text-cian{
    color:#5d9feb  !important;
}
.text-orange{
    color:#f05454
}
.h-90{
    height:38em;
}
.card{
    border: none!important;
}

.uppercase{
    text-transform: uppercase;
}
.btn-orange{
    background-color: #f05454 ;
    text-decoration: none;
    display: inline-block;
    color: #dddddd;
    text-align: center;
    vertical-align: middle;    
    border:none;
}
.btn-orange:hover{
    text-decoration: none;
    background-color: #ad3b3b ;

    color: #dddddd;
    border:none;
   
}


.btn-blue{
    background-color: #30475e ;
    text-decoration: none;
    display: inline-block;
    color: #dddddd;
    text-align: center;
    vertical-align: middle;   
    border:none; 
}
.btn-blue:hover{
    background-color: #1a2733 ;
    text-decoration: none;
    color: #dddddd;    
    border:none;   
}
.btn-blue-dark{
    background-color: #222831 ;
    text-decoration: none;
    display: inline-block;
    color: #dddddd;
    text-align: center;
    vertical-align: middle;   
    border:none; 
}
.btn-blue-dark:hover{
    background-color: #1d2329 ;
    text-decoration: none;
    color: #dddddd;    
    border:none;   
}

.btn-sm{

    border: 10px 20px 10px 20px !important;
    padding: 10px 20px 10px 20px !important;
    font-size:15px !important;
    text-decoration: none;
    display: inline-block;
}
.btn-sm:hover{
    text-decoration: none;
    font-weight: 400;
    color: #dddddd;
   
}

.bg-background{
    background-color:#1a1a1a
}

.table-blue{
    --bs-table-bg: #30475e;
    --bs-table-striped-bg: #30475e;
    --bs-table-striped-color: #30475e;
    --bs-table-active-bg: #30475e;
    --bs-table-active-color: #30475e;
    --bs-table-hover-bg: #30475e;
    --bs-table-hover-color: #222831;
    color: #fff;
    border-color: #30475e;
}

input:focus{
    border-color: #f05454 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f05454 !important;
    outline: 0 none !important;
}

/* Colors
#dddddd
#222831 
#30475e
#f05454 
*/

