
.hr-style{
    height: 40xpx;
    width:30%;
    /* Set the hr color */
    color: rgb(128, 0, 0); /* old IE */
    background-color: rgb(1288, 0, 0); /* Modern Browsers */
}


.container-title-one{
    margin-bottom: 20px;
}

.m-center{
    margin: auto;
    padding: 30px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}


.border-blue{
    border-color: #3a5271  !important;

}


.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #f05454; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}

