<div class="text-left text-white ms-3 pe-3 mb-5">
  <p>Select the routine to start</p>
  <hr class="hr-style" />
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 ">
      <div class="text-secondary mb-4">
        <img src="../../assets/img/Routines/Beginner.png" class="card-img-top" alt="..." />
        <div class="card-body bg-blue-dark text-white">
          <h5 class="card-title">2 DAYS A WEEK</h5>
         
          <a href="#" class="btn-sm btn-orange">START</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="text-secondary mb-4">
        <img src="../../assets/img/Routines/Medium.png" class="card-img-top" alt="..." />
        <div class="card-body bg-blue-dark text-white">
          <h5 class="card-title">3 DAYS A WEEK</h5>
         
          <a href="#" class="btn-sm btn-orange">START</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="text-secondary mb-4">
        <img src="../../assets/img/Routines/Hard.png" class="card-img-top" alt="..." />
        <div class="card-body bg-blue-dark text-white">
          <h5 class="card-title">4 DAYS A WEEK</h5>
         
          <a href="#" class="btn-sm btn-orange">START</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="text-secondary mb-4">
        <img src="../../assets/img/Routines/Extreme.png" class="card-img-top" alt="..." />
        <div class="card-body bg-blue-dark text-white">
          <h5 class="card-title">EVERYDAY</h5>
         
          <a href="#" class="btn-sm btn-orange">START</a>
        </div>
      </div>
    </div>
  </div>
</div>
